//
// Groups
// =============================================================================

.group {
  @include clearfix();

  display: inline-block;
  margin-bottom: unitSize(3);
  padding: 0;
  width: 100%;
  span { margin-top: 0; }
  
}

.group-item {
    text-align: center;
    width: 7em;
  border: 2px solid getColor(state, success);
  color: getColor(state, success);
  display: inline-block;
  float: left;
  font-size: pxToEm(14);
  line-height: unitSize(4);
  list-style: none;
  padding: 0 1em;
  margin: 0.4em;
  transition: background-color $transition-duration;

  // &:not(:first-child) { margin: 0 0 0 -1px; }

  &:hover { 
      background-color: getColor(state, success);
      color: white;
      }

  &:first-child { border-radius: 0; }

  &:last-child { border-radius: 0; }

  &.is-active {
       border: 2px solid getColor(state, muted) !important;
       background: none;
       color: black;
       }
}
