<div container class="text--center dc-narrow">
    <figure class="text--center">
        <img src="./img/dc-chess-squares.png" alt="DC Chess" width="146">
    </figure>
    <p></p>
    <button (click)="login('demo')" class="button--bordered button--full">Try demo</button>
    <p></p>
    <form (submit)="login()">
        <fieldset>
            <legend>Login</legend>
            <p>
                <input #user (keyup)="userEntry = user.value" type="text" placeholder="User name" />
            </p>
            <p>
                <input #license (keyup)="licenseEntry = license.value" type="text" placeholder="License key" />
            </p>
            <button [hidden]="!licenseMatch()">Login</button>
        </fieldset>
    </form>
</div>
<div [hidden]="!loading" class="center--all">
    <div class="spinner"></div>
</div>