<div container class="text--center dc-narrow">
<!--    <div style="position: absolute;">
        <small><a href="/about">Info</a></small>
    </div>-->
    <div class="app-logo"></div>

    <p *ngIf="!loggedIn">
        <license (response)="paymentResponse($event)">Buy license</license>
        <button class="button--bordered button--xsm" (click)="login('demo')">Try demo</button>
    </p>
    
    <p *ngIf="loggedIn">
        <button [routerLink]="['Dashboard']" class="button--bordered button--full">Dashboard</button>
    </p>
    <p *ngIf="loggedIn">
        <a (click)="logout()">
            <small>Logout</small>
        </a>
    </p>
    <form *ngIf="!loggedIn" (submit)="login()">
        <fieldset>
            <legend>Login</legend>
            <p>
                <input #user autofocus (focus)="error = null;" (keyup)="userEntry = user.value" type="text" placeholder="User name" />
            </p>
            <p>
                <input #license (focus)="error = null;" (keyup)="licenseEntry = license.value" type="text" placeholder="License key" />
            </p>
            <p *ngIf="error">
                <small class="text--error">{{error}}</small>
            </p>
            <button class="button--bordered">Login</button>
        </fieldset>
    </form>

    <div [hidden]="isChrome" class="alert text--left">
        <p>
            <small><small>
                Note: This app should run fine on any modern browser, but is specifically designed for Google Chrome. <br><br>
                <a href="https://www.google.com/chrome">Get Chrome</a>
            </small></small>
        </p>
    </div>
</div>
<div [hidden]="!loading" class="center--all">
    <div class="spinner"></div>
</div>