<div container class="text--center dc-narrow">
    <!--<div style="position: absolute;">
        <small><a href="/about">Info</a></small>
    </div>-->
    <div class="app-logo"></div>

    <p *ngIf="!loggedIn">
        <license (response)="paymentResponse($event)">Kjøp lisens</license>
        <button class="button--bordered button--full dc-no-top" (click)="login('demo')">Prøv demo</button>
    </p>

    <p *ngIf="loggedIn">
        <button [routerLink]="['Dashboard']" class="button--bordered button--full">Dashboard</button>
    </p>
    <p *ngIf="loggedIn">
        <a (click)="logout()">
            <small>Logg ut</small>
        </a>
    </p>

    <div class="dc-spacer" style="height: 12px"></div>

    <form *ngIf="!loggedIn" (submit)="login()">
        <p>Logg inn</p>
        <input #user autofocus (focus)="error = null;" (keyup)="userEntry = user.value" type="text" placeholder="Brukernavn" />
        <input class="dc-no-top" #license (focus)="error = null;" (keyup)="licenseEntry = license.value" type="text" placeholder="Lisensnøkkel"
        />
        <p *ngIf="error">
            <small class="text--error">{{error}}</small>
        </p>
        <button class="dc-spacer button--bordered button--full"></button>
    </form>

    <div [hidden]="isChrome" class="text--center">
        <a class="tooltip--bottom" data-hint="Google Chrome anbefales til denne appen!"
        href="https://www.google.com/chrome">Skaff Chrome</a>
    </div>
</div>
<div [hidden]="!loading" class="center--all">
    <div class="spinner"></div>
</div>