<div container class="text--center dc-narrow">
    <div style="position: absolute;">
        <small><a href="/about">Info</a></small>
    </div>
    <div class="app-logo"></div>

    <p *ngIf="!loggedIn">
        <license (response)="paymentResponse($event)">Kjøp lisens</license>
        <button class="button--bordered button--xsm" (click)="login('demo')">Prøv demo</button>
    </p>
    
    <p *ngIf="loggedIn">
        <button [routerLink]="['Dashboard']" class="button--bordered button--full">Dashboard</button>
    </p>
    <p *ngIf="loggedIn">
        <a (click)="logout()">
            <small>Logg ut</small>
        </a>
    </p>
    <form *ngIf="!loggedIn" (submit)="login()">
        <fieldset>
            <legend>Logg inn</legend>
            <p>
                <input #user autofocus (focus)="error = null;" (keyup)="userEntry = user.value" type="text" placeholder="Brukernavn" />
            </p>
            <p>
                <input #license (focus)="error = null;" (keyup)="licenseEntry = license.value" type="text" placeholder="Lisensnøkkel" />
            </p>
            <p *ngIf="error">
                <small class="text--error">{{error}}</small>
            </p>
            <button class="button--bordered">Logg inn</button>
        </fieldset>
    </form>

    <div [hidden]="isChrome" class="alert text--left">
        <p>
            <small><small>
                Merk: Denne appen bør fungere fint i enhver moderne nettleser, men den ble spesifikt laget for å kjøre i Google Chrome<br><br>
                <a href="https://www.google.com/chrome">Skaff chrome</a>
            </small></small>
        </p>
    </div>
</div>
<div [hidden]="!loading" class="center--all">
    <div class="spinner"></div>
</div>