<div container class="text--center" *ngIf="tournamentData">
    <h1>{{tournamentData.name}}</h1>
    <p>{{tournamentData.desc || 'Ingen beskrivelse lagt til!'}}</p>

    <form class="form--inline" [hidden]="tournamentData.rounds">
        <fieldset>
            <legend>
                Påmelding
            </legend>
            <p>
                <label>Meld deg på:</label>
                <input [disabled]="tournamentData.private || tournamentData.rounds || joined" #player type="text" placeholder="Navn">
                <button [disabled]="tournamentData.private || tournamentData.rounds || joined" (click)="addPlayer(player.value || 'unnamed');"
                class="button--bordered border--muted button--xsm">
                    Bli med
                </button>
            </p>
            <p *ngIf="playerKey">Du har blitt med i denne turneringen som "<span class="text--success">{{tournamentData.players[playerKey].name}}</span>"</p>
        </fieldset>
    </form>
    
    <fieldset [hidden]="!tournamentData.rounds">

        <legend>Runder og resultater</legend>

        <ul class="group">
            <li *ngFor="#round of tournamentData.rounds; #r = index;" [class.is-active]="visibleRound == r" class="group-item" (click)="visibleRound = r">
                Runde {{r+1}}
            </li>
        </ul>

        <div [hidden]="r != visibleRound" *ngFor="#round of tournamentData.rounds; #r = index">

            <div *ngFor="#match of round; #m = index">
                <div *ngIf="match.result != 'bye'">

                    <div class="text--center">
                        Bord {{m+1}}:
                    </div>
                    <p class="hide--xsm"></p>

                    <div class="row">
                        <div class="hide--xsm"><label column="3">Resultat:</label></div>
                        <table column="9" class="dc-fixed dc-match-table table--border table--full text--center">
                            <tbody>
                                <tr>
                                    <td [class.bg--success]="match.result == 'white'">
                                        <div class="right" [hidden]="match.result != 'white'">↓</div>
                                        Hvit
                                    </td>
                                    <td [class.bg--success]="match.result == 'draw'">
                                        <div [hidden]="match.result != 'draw'">↓</div>
                                        <div [hidden]="match.result != 'draw'" class="right">↓</div>
                                        Remis
                                    </td>
                                    <td [class.bg--success]="match.result == 'black'">
                                        <div [hidden]="match.result != 'black'">↓</div>
                                        Svart
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="hide--xsm"><label column="3">Spillere:</label></div>
                        <table column="9" class="dc-fixed table--full text--center dc-push-up">
                            <tbody>
                                <tr>
                                    <td class="dc-white">{{tournamentData.players[match.white].name}}</td>
                                    <td class="dc-black">{{tournamentData.players[match.black].name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button class="button--full" style="visibility: hidden">space, pleace</button>
                </div>

            </div>
        </div>

    </fieldset>

    <tournamentScore [hidden]="1 >(tournamentData.players | asArray)" [players]="tournamentData.players" [rounds]="tournamentData.rounds" [playedMatches]="tournamentData.playedMatches"></tournamentScore>
</div>


<div class="alert" *ngIf="error">
    <strong>Feil: </strong> {{error}}
</div>
<div class="center--all" *ngIf="!error && !tournamentData">
    <div class="spinner"></div>
</div>