<div container *ngIf="userData" class="text--center dc-narrow">
    <p></p>
    <a (click)="logout()">Logout</a>
    <h1>Dashboard</h1>
    <p></p>
    <button class="button--xlg button--bordered" (click)="addTournament()">
        New tournament
    </button>
    <p></p>
    <div class="alert" *ngIf="userData.tournaments">
        <p><strong>Hint:</strong> Click on a tournament to manage it, right click twice to delete it.</p>
    </div>
    <div *ngFor="#tournament of userData.tournaments | asArray">
        <button class="button--bordered border--muted" [hidden]="confirmKey == tournament.key" (contextmenu)="confirmDelete(tournament.key)" (click)="openTournament(tournament.key)">
            {{tournament.name}}
        </button>
        <button class="button--bordered border--error" [hidden]="confirmKey != tournament.key" (contextmenu)="deleteTournament(tournament.key)">
            Right click again to delete!
        </button>
    </div>
    <p></p>
</div>

<div *ngIf="!userData" class="center--all">
    <div class="spinner"></div>
</div>