<div class="alert">
    <p><strong>Hint:</strong> This is where you name your tournament and enter basic info. 
    The Tournament URL can be used to share the tournament, and if your tournament
    is not private, people can join via the link as well.
    </p>
    <p>When you're ready, proceed to "Players" (top navigation).</p>
</div>

<form class="form--inline">
    <fieldset>
        <legend>Tournament info</legend>
        <p>
            <label>Name:</label>
            <input #name [value]="tournament.name" type="text" (keyup)="dataChange.emit({name: name.value})" />
        </p>

        <p>
            <label>Description:</label>
            <input #desc [value]="tournament.desc || ''" type="text" (keyup)="dataChange.emit({desc: desc.value})" />
        </p>

        <p>
            <label>Private:</label>
            <input #private [value]="tournament.private" type="checkbox">
        </p>

        <p>
            <label>Tournament URL:</label>
            <a class="text--success" onclick="return false" [href]="'http://dc-chess.com/tournament/' + tournament.path">
                Tournament URL (right click and copy link)
            </a>
        </p>
    </fieldset>
</form>