<div class="alert">
    <p><strong>Hint:</strong> 
        This is where you add players to your tournament. Simply enter player name and hit enter (or click the "Add player" button). You can right click twice on a player to delete him/her.
    </p>
    <p>When you're ready, proceed to "Match setup" (top navigation).</p>
</div>

<form class="form--inline">
    <fieldset>
        <legend>
            Player list
            <span *ngIf="((players | asArray).length > 2)" class="badge bg--success">{{players | asArray: 'length'}}</span>
            <span *ngIf="((players | asArray).length < 3)" class="badge bg--muted">{{players | asArray: 'length'}}</span>
        </legend>
        <p>
            <label>Add player:</label>
            <input [disabled]="!canAdd" #player type="text" placeholder="Player name">
            <button [disabled]="!canAdd" (click)="addPlayer(player.value || 'unnamed'); player.value = ''" class="button--bordered border--muted button--full show--xsm">Add player</button>
            <button style="display: inline-block !important; transition: none" [disabled]="!canAdd" (click)="addPlayer(player.value || 'unnamed'); player.value = ''" class="button--bordered border--muted button--xsm hide--xsm">Add player</button>
        </p>

        <table class="table--border table--full table--hoverRow">

            <tbody>
                <tr *ngFor="#player of players | asArray">
                    <td *ngIf="confirmKey != player.key" (contextmenu)="confirmDelete(player.key)">
                        {{player.name}}
                    </td>
                    <td *ngIf="confirmKey == player.key" (contextmenu)="deletePlayer(player.key)">
                        Right click again do delete player
                    </td>
                </tr>
                <tr *ngIf="!(players)">
                    <td>(empty)</td>
                </tr>
            </tbody>

        </table>
    </fieldset>
</form>