<fieldset class="form--inline">
    <legend>Match setup</legend>
    <p [hidden]="rounds">
        <button (click)="roundsAction.emit('roundrobin')" [disabled]="((players | asArray).length < 3) || rounds" class="button--success button--full tooltip--bottom"
        data-hint="All play all. 3-30 players">
            Setup roundrobin
        </button>
    </p>
    <p [hidden]="rounds">
        <button (click)="roundsAction.emit('swiss')" disabled class="button--muted button--full tooltip--bottom" data-hint="Coming soon!">
            Setup swiss
        </button>
    </p>
    <p [hidden]="rounds">
        <button (click)="roundsAction.emit('cup')" disabled class="button--muted button--full tooltip--bottom" data-hint="Coming soon!">
            Setup cup
        </button>
    </p>
    <p [hidden]="!rounds">
        <button data-hint="Remove all rounds and matches (irreversible!)" (click)="roundsAction.emit('clear')" class="button--success button--full tooltip--bottom">Clear rounds!</button>
    </p>
</fieldset>

<fieldset *ngFor="#round of rounds; #r = index">
            <legend>Round {{r+1}}</legend>

            <div *ngFor="#match of round; #m = index">
                <legend class="text--center">Table {{m+1}}</legend>
                <table class="table--responsive dc-border">

                    <tbody>
                        <tr class="text--center">
                            <td class="dc-white">{{players[match.white].name}}</td>
                            <td class="dc-gray">
                                <span [hidden]="match.result">vs</span>
                                <a class="text--success" (click)="match.result = 0; dataChange.emit({rounds: rounds})">
                                    <strong *ngIf="match.result == 'white'">White!</strong>
                                    <strong *ngIf="match.result == 'draw'">Draw!</strong>
                                    <strong *ngIf="match.result == 'black'">Black!</strong>
                                </a>
                            </td>
                            <td class="dc-black">{{players[match.black].name}}</td>
                        </tr>
                        <tr *ngIf="!match.result" class="text--center">
                            <td class="dc-gray" (click)="match.result = 'white'; dataChange.emit({rounds: rounds})">
                                <a class="text--success">
                                    <strong>White</strong>
                                </a>
                            </td>
                            <td class="dc-gray" (click)="match.result = 'draw'; dataChange.emit({rounds: rounds})">
                                <a class="text--success">
                                    <strong>Draw</strong>
                                </a>
                            </td>
                            <td class="dc-gray" (click)="match.result = 'black'; dataChange.emit({rounds: rounds})">
                                <a class="text--success">
                                    <strong>Black</strong>
                                </a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </fieldset>