<div class="alert" *ngIf="playedMatches">
    <p><strong>Status:</strong> You have played {{playedMatches[0]}} of {{playedMatches[1]}} matches.
    </p>
</div>

<div class="table--responsive">
    <a (click)="showFullscreen = true" class="text--success dc-fullscreen-switch">
        <small>Fullscreen</small>
    </a>
    <table (click)="showFullscreen = false" [class.dc-fullscreen]="showFullscreen" class="table table--border table--hoverRow dc-score-table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Byes</th>
                <th>Buchholz score</th>
                <th>Black matches</th>
                <th>Wins</th>
                <th *ngFor="#round of rounds; #r = index;">Match {{r+1}}</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="#player of players | asArray : 'sort'">
                <td>
                    {{player.name}}
                </td>
                <td>
                    {{player.points || 0}}
                </td>
                <td>
                    {{player.byes || 0}}
                </td>
                <td>
                    {{player.buchholz || 0}}
                </td>
                <td>
                    {{player.blackMatches || 0}}
                </td>
                <td>
                    {{player.wins || 0}}
                </td>
                <td *ngFor="#match of player.matches; #m = index">
                    <span *ngIf="match">
                        <span [hidden]="match[0] != 'win'">1</span>
                    <span [hidden]="match[0] != 'draw'">1/2</span>
                    <span [hidden]="match[0] != 'lose'">0</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>