<fieldset>
    <legend>
        Score
    </legend>

    <div class="alert">
        <p><strong>Status:</strong> You have played {{playedMatches[0]}} of {{playedMatches[1]}}
            matches.</p>
    </div>

    <table class="table--border table--hoverRow table--responsive dc-score-table">
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Points</th>
                <th>Black matches</th>
                <th>Wins</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="#player of players | asArray : 'sort'">
                <td>
                    {{player.name}}
                </td>
                <td>
                    {{player.points || 0}}
                </td>
                <td>
                    {{player.blackMatches || 0}}
                </td>
                <td>
                    {{player.wins}}
                </td>
            </tr>
        </tbody>

    </table>
    
    <table class="table--border table--hoverRow table--responsive">
        <tbody>
            
        </tbody>
    </table>
</fieldset>