<!-- TODO: Separate each view into component? -->
<div *ngIf="tournamentData">
    
    <!-- Nav -->
    <ul class="breadcrumbs">
        <li><a (click)="activeView='info'">Info</a></li>
        <li *ngIf="!tournamentData.rounds"><a (click)="activeView='players'">Players</a></li>
        <li>
            <a (click)="activeView='rounds'">
                <span [hidden]="tournamentData.rounds">Match setup</span>
                <span [hidden]="!tournamentData.rounds">Rounds & matches</span>
            </a>
        </li>
        <li *ngIf="tournamentData.rounds"><a (click)="activeView='score'">Score</a></li>
        <a class="float--right" [routerLink]="[ '/Dashboard' ]">Dashboard</a>
    </ul>

    <!-- Tournament info -->
    <tournamentInfo *ngIf="activeView =='info'" 
    [tournament]="tournamentData" [id]="tournamentId" 
    (dataChange)="submit($event)"></tournamentInfo>

    <!-- Player list -->
    <tournamentPlayers *ngIf="activeView == 'players'"
    [players]="tournamentData.players" [keys]="playerKeys" [canAdd]="!tournamentData.rounds" 
    (playerAdd)="addPlayer($event)" (playerDelete)="deletePlayer($event)"></tournamentPlayers>

    <!-- Setup rounds -->
    <fieldset *ngIf="activeView == 'rounds'" class="form--inline">
        <legend>Match setup</legend>
        <p [hidden]="tournamentData.rounds">
            <button (click)="setupRounds()" [disabled]="(playerKeys.length < 3) || tournamentData.rounds" class="button--success button--full tooltip--bottom"
            data-hint="All play all. 3-30 players">
                Setup roundrobin
            </button>
        </p>
        <p [hidden]="tournamentData.rounds">
            <button (click)="setupRounds()" disabled class="button--muted button--full tooltip--bottom" data-hint="Coming soon!">
                Setup swiss
            </button>
        </p>
        <p [hidden]="tournamentData.rounds">
            <button (click)="setupRounds()" disabled class="button--muted button--full tooltip--bottom" data-hint="Coming soon!">
                Setup cup
            </button>
        </p>
        <p [hidden]="!tournamentData.rounds">
            <button data-hint="Remove all rounds and matches (irreversible!)" (click)="clearRounds()" class="button--error button--full tooltip--bottom">Clear rounds!</button>
        </p>
    </fieldset>

    <!-- Rounds / matches -->
    <div *ngIf="activeView =='rounds' && tournamentData.rounds">
        <fieldset *ngFor="#round of tournamentData.rounds; #r = index">
            <legend>Round {{r+1}}</legend>

            <div *ngFor="#match of round; #m = index">
                <legend class="text--center">Table {{m+1}}</legend>
                <table class="table--responsive">

                    <tbody>
                        <tr class="text--center">
                            <td>{{tournamentData.players[match.white].name}}</td>
                            <td style="width: 120px">
                                <span [hidden]="match.result">vs</span>
                                <a (click)="match.result = 0; submit({rounds: tournamentData.rounds})">
                                    <strong *ngIf="match.result == 'white'">White!</strong>
                                    <strong *ngIf="match.result == 'draw'">Draw!</strong>
                                    <strong *ngIf="match.result == 'black'">Black!</strong>
                                </a>
                            </td>
                            <td>{{tournamentData.players[match.black].name}}</td>
                        </tr>
                        <tr class="text--center">
                            <td class="button button--full button--primary" (click)="match.result = 'white'; submit({rounds: tournamentData.rounds})">
                                White
                            </td>
                            <td class="button--muted" (click)="match.result = 'draw'; submit({rounds: tournamentData.rounds})">
                                Draw
                            </td>
                            <td class="button button--full button--primary" (click)="match.result = 'black'; submit({rounds: tournamentData.rounds})">
                                Black
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </fieldset>

    </div>

    <!-- Score -->
    <div *ngIf="activeView == 'score'">
        <fieldset>
            <legend>Some actions</legend>
            <p>
                <button class="button--success button--full tooltip--bottom" data-hint="This is a placeholder button!">
                    Some action
                </button>
            </p>
            <p>
                <button class="button--success button--full tooltip--bottom" data-hint="This is a placeholder button!">
                    Some action
                </button>
            </p>
        </fieldset>

        <fieldset>
            <legend>
                Score
            </legend>
            
            <div class="alert">
                <p><strong>Status:</strong> You have played {{tournamentData.playedMatches[0]}} of {{tournamentData.playedMatches[1]}} matches.</p>
            </div>
            
            <table class="table--border table--hoverRow table--responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Points</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="#player of playersArray">
                        <td>
                            {{player.name}}
                        </td>
                        <td>
                            {{player.points || 0}}
                        </td>
                    </tr>
                </tbody>

            </table>
        </fieldset>
    </div>

</div>

<div *ngIf="!tournamentData" class="center--all">
    <div class="spinner"></div>
</div>