[container] {
    max-width: 640px;
}

fieldset {
    background: #f9f9f9;
}

/* Rounds, match view */
.dc-player-table {
    table-layout: fixed;
    border: none;
}

.dc-player-table th, .dc-border td {
    border-right:0;
}

.dc-white {
    background: #fff;
}

.dc-gray {
    background: #e0e0e0
}

.dc-black {
    background: #555;
    color: #fff;
}

/* Score */
.dc-score-table th, .dc-score-table, td {
    text-align: center;
    padding: 0;
}