[container] {
    max-width: 640px;
}

/* Rounds, match view */
.dc-player-table {
    table-layout: fixed;
    border: none;
}

.dc-player-table th, .dc-border td {
    border-right:0;
}

.dc-white {
    background: #fff;
}

.dc-gray {
    background: #e0e0e0
}

.dc-black {
    background: #555;
    color: #fff;
}

/* Score */
.dc-score-table th, .dc-score-table td {
    text-align: center;
    white-space: nowrap;
}

.dc-fullscreen {
    top:0;
    left: 0;
    position: absolute;
    width:100%;
    height:100%;
    
    background: rgba(255,255,255,0.9);
}

.dc-fullscreen-switch {
    position: absolute;
}